@model IEnumerable<Knjiznica.Models.Knjiga>

@{
    ViewBag.Title = "PopisSlobodnihKnjiga";
}


<style>


    tr {
        border: 1px solid white !important;
    }

    th {
        border: 1px solid white !important;
    }

    td {
        border: 1px solid white !important;
    }
  

   
</style>


<div class="container">
    <h2>Popis slobodnih knjiga</h2>
</div>

<div class="container">
    <h5>U nastavku slijedi popis slobodnih knjiga. </h5>
    <h5>Posudite knjigu koja vam se sviđa.</h5>
    <h5><u>Ugodnu zabavu!</u></h5>
</div>

<br />
<div class="container" >
    <table class="table" >
        <tr >
            <th >
            
                Naslov knjige
            </th>
            <th>
           
                Ime pisca
            </th>
            <th>
          
                Prezime pisca
            </th>
            <th>
             
                Godina izdanja
            </th>
            <th>
        
                Broj knjiga
            </th>


            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NaslovKnjige)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImePisca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrezimePisca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GodinaIzdanja)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SlobodneKnjige)
                </td>

                <td>
                    @Html.ActionLink("Rezervacija", "Rezervacija", new { id = item.KnjigaID })
                </td>
            </tr>

        }

    </table>
   
</div>

<div class="container">
    @Html.ActionLink("Povratak", "Index")
</div>