@model IEnumerable<Knjiznica.Models.Rezervacija>

@{
    ViewBag.Title = "Rezervacijaa";
}


<h2>Pregled rezervacija knjiga</h2>

<h3>Linkovi</h3>

<p> @Html.ActionLink("Rezervacije", "PregledRezervacija")</p>

<p>  @Html.ActionLink("Knjige", "Knjige") </p>

<p>    @Html.ActionLink("Odjava", "Odjava")</p>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NaslovKnjige)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prezime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NaslovKnjige)
            </td>
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { id = item.RezervacijaID }) |
                @Html.ActionLink("Details", "Details", new { id = item.RezervacijaID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.RezervacijaID })
            </td>*@
        </tr>
    }

</table>
