@model IEnumerable<Knjiznica.Models.Zaposlenik>


@{
    ViewBag.Title = "UpisNovogClana";
}

<div class="container">

    <h2>Upis novog člana knjižnice</h2>
</div>





    @using (Html.BeginForm())

    {
        @Html.ValidationSummary()



    <dt class="container">

        Korisničko ime
    </dt>
        <dd class="container">


            @Html.TextBox("korisnickoIme")






        </dd>


        <br />


        <dt class="container">
            Lozinka
        </dt>
        <dd class="container">


            @Html.TextBox("lozinka")
        




        </dd>


        <br />


        <dt class="container">
            Ime zaposlenika
        </dt>
        <dd class="container">


            @Html.TextBox("imeZaposlenika")

          



        </dd>


        <br />

        <dt class="container">
            Prezime zaposlenika
        </dt>
        <dd class="container">


            @Html.TextBox("prezimeZaposlenika")





        </dd>


        <br />




        <dt class="container">
            Adresa zaposlenika
        </dt>
        <dd class="container">





            @Html.TextBox("adresaZaposlenika")



        </dd>



        <br />

        <dt class="container">
            Poštanski broj
        </dt>
        <dd class="container">



            @Html.TextBox("postanskiBroj")



        </dd>


        <br />

        <dt class="container">
            Odjel zaposlenika
        </dt>
        <dd class="container">



            @Html.TextBox("odjelZaposlenika")



        </dd>



        <br />



        <dt class="container">  <input type="submit" value="Upisi" /></dt>
       
      




    }


    <br />






<div class="container">
    @Html.ActionLink("Povratak na rezervacije", "PregledRezervacija")
</div>

